
.timer{
  display: flex;
  justify-content: space-around;
  font-size: 100px;
  font-family: helvetica;
  background: linear-gradient(black, #00052b);
  min-height: 320px;
  p{
   text-shadow: 2px 2px black;
   animation: fadein 4s;
  }
}
@keyframes fadein {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.imageContainer{
  position: relative;
  width: 100%;
  .introImage img{
    width: 100%;
  }
}
.overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  width:100%;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color: rgba(0,3,45,0.5);
  color: rgba(255,255,255,0.5);
  font-family: cursive;
  font-size: 100px;
}
.devs{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: black;
  .panel:nth-child(2){
    grid-column: 2 / 12;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  img{
    width: 100%;
  }
  .devText{
    padding-left: 30px;
    font-family: helvetica;
  }
}
